<%= form_for :user, url: '/users' do |f| %>

<div class="well col-md-4 col-md-offset-4">

  <% if @user.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for messgae in @user.errors.full_messages %>
      <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div><%= f.label :user_name %></div>
  <div><%= f.text_field :user_name %></div>
  <div><%= f.label :password %></div>
  <div><%= f.password_field :password %></div>
  <div><%= f.label :password_confirmation %></div>
  <div><%= f.password_field :password_confirmation %></div>
  <br>
  <div><%= f.submit "Sign Up", class: 'btn btn-primary' %></div>

<% end %>
