<!DOCTYPE html>
<html>
<head>
  <title>ReynaWk7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Student Courses</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <% if current_user %>
      <%= link_to current_user.user_name.upcase, user_path(current_user), class: "navbar-brand" %>
      <%= link_to 'Logout', '/logout', class: "navbar-brand" %>
      <% else %>
      <%= link_to "Register", '/signup', class: "navbar-brand" %>
      <%= link_to 'Login', '/login', class: "navbar-brand" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <% if notice %>
  <div class="alert alert-success"><strong><center><%= notice %></center></strong></div>
</div>
<% end %>


  <%= yield %>

</body>
</html>
